body{
    background-image: url("fondos.jpg");
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#thirDiv{
	width: 500px;
	height: 600px;
    border: skyblue;
    border-style: inset double;
}
#spanId{
	font-size: 18px;
	margin: 50px;
	width: 200px;
    margin-left: auto;
    margin-right: auto;
    color: darkblue;
	font-style: italic;

}
.divClass{
	width: 200px;
  margin-left: auto;
  margin-right: auto;
}
#name{
     color: midnightblue;
     font-style: oblique;
     font-size: 15%;
}
