body{
	background-image: url("fondos.jpg");
    background-position: center;
    height: 300px;
    display: -webkit-flex;
    display: flex;
}
#thirDiv{
	width: 500px;
	height: 600px;
    border: solid blue 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}
#spanId{
	font-size: 18px;
	margin: 50px;
	width: 200px;
    margin-left: auto;
    margin-right: auto;
    color: sandybrown;
	font-style: italic;

}
.divClass{
	width: 200px;
  margin-left: auto;
  margin-right: auto;
}
h1{color: purple;}
h3{color: steelblue;}
h4{color: palevioletred;}
a{color: rosybrown;  font-size: 30px;}
